@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--common-font-style);
}

button:hover {
    cursor: pointer;
}

:root {
    --base-orange: #FFAB73;
    --base-blue: #5F9DF7;
    --base-yellow: #FFF9B0;
    --base-pink: #FFDEDE;
    --base-green: #CBFFA9;

    --dark-orange: #FF731D;
    --dark-blue: #1746A2;
    --darkest-color: #212A3E;
    --off-white: #FFF7E9;
    --gray: #7F8487;

    --logo-size: calc(40px + 1vw);

    --title-font-style: 'Pacifico', sans-serif;
    --header-font-style: 'Montserrat', sans-serif;
    --common-font-style: 'Rubik', sans-serif;

    --title-font-size: calc(1.3rem + 1vw);
    --header-font-size: calc(0.8rem + 1vw);
    --common-font-size: calc(0.6rem + 1vw);

    --min-width: 280px;

    --common-margin: calc(10px + 0.5vw);
    --common-padding: calc(5px + 0.5vw);

    --icon-size: calc(20px + 0.5vw);

    --header-height: 10vh;
    --main-height: 90vh;
    --footer-height: 0vh;
}

body {
    background-color: var(--off-white);
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100vh;
}

header {
    background-color: var(--dark-orange);
    min-width: var(--min-width);
    padding: var(--common-padding);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    overflow: hidden;
    height: var(--header-height);
}

main {
    min-width: var(--min-width);
    overflow: hidden;
    position: relative;
    height: var(--main-height);
}

footer {
   height: var(--footer-height);
   overflow: hidden;
   background-color: var(--dark-orange);
}

/* div#footer-cont {
    display: grid;
    margin: 5px 0 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

div#footer-cont p {
    font-size: var(--common-font-size);
    color: white;
}

div#footer-cont p a {
    text-decoration: none;
    color: white;
}

div#footer-cont p a:visited {
    color: white;
}

div#footer-cont p a:active {
    color: white;
    transform: scale(1.1);
}

div#footer-cont p a:hover {
    cursor: pointer;
    color: var(--base-pink);
} */

/* HEADER (start) */
div#title-banner {
    display: grid;
    grid-template-columns:max-content 1fr;
    width: max-content;
    align-items: center;
}

img#logo {
    width: var(--logo-size);
    height: var(--logo-size);
}

h1#page-title {
    font-family: var(--title-font-style);
    font-size: var(--title-font-size);
    color: var(--off-white);
    text-shadow: 0 0 3px var(--darkest-color);
    width: 100%;
}  

div#date-banner {
    margin: auto;
    margin-right: var(--common-margin);
}

div#date-banner p {
    text-shadow: 0 0 3px var(--darkest-color);
}

p#banner-full-date {
    font-size: var(--header-font-size);
    color: white; 
}

p#banner-full-date span {
    font-family: var(--header-font-style);
}

p.banner-weekday {
    text-align: right;
}

span#banner-weekday {
    font-size: var(--common-font-size);
    color: var(--base-yellow);
}
/* HEADER (end) */

/* MAIN (start) */

/* Sidebar slider (start)*/
div#sidebar {
    width: 100%;
    padding-top: calc(var(--common-padding) * 2);
    background-color: var(--off-white);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
    height: var(--main-height);

    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas:
        "user-details"
        "main-categories"
        "priority-categories"
        "add-buttons-cont" ;
}

div#sidebar.hidden {
    transform: translateX(-100%);
}
/* Sidebar slider (end)*/

/* User information (start)*/ 
div#user {
    grid-area: user-details;
    display: grid;
    grid-template-areas:
        "pic greet"
        "pic name";
    grid-template-columns:max-content 1fr;
    column-gap: 10px;  
    width: 100%;
    height: max-content;
    margin: auto;
    padding: calc(var(--common-padding) * 2);
    padding-top: 0;
}

img#user-pic {
    grid-area: pic;
    width: calc(var(--logo-size) * 0.8);
    height: calc(var(--logo-size) * 0.8);
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--base-orange);
    object-position: 50% 50%;
    align-self: center;
    background-color: var(--base-yellow);
}

p#user-greet {
    grid-area: greet;
    font-size: var(--common-font-size);
}

h3#user-name {
    grid-area: name;
}
/* User information (end)*/ 

/* Categories (start) -  */
div#main-categories-cont {
    grid-area: main-categories;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid var(--base-pink);
    padding-bottom: calc(var(--common-padding) * 2);
    width: 100%;
}

div.category {
    text-align: center;
    width: 100%;
    padding: calc(var(--common-padding) * 0.5) calc(var(--common-padding) * 2);

    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
}

div.category h3 {
    font-family: var(--header-font-style);
    font-size: calc(var(--common-font-size) * 1);
    width: 100%;
    text-align: left;
    padding-left: var(--common-padding);
}

div.category p {
    width: 100%;
    font-size: var(--common-font-size);
}

svg.tab-icon,
img.tab-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}
 
div#today {
    margin-top: var(--common-margin);
}

div#someday {
    margin-bottom: var(--common-margin);
}

div#overdue {
    margin-bottom: var(--common-margin);
}
/* Categories (end) -  */

/* Priority Filter (start) - */
div#priority-categories {
    grid-area: priority-categories;
    margin-top: var(--common-margin);
    /* border-bottom: 3px dotted var(--base-blue); */
    padding-bottom: calc(var(--common-padding) * 2);
}

div#priority-categories h2 {
    font-family: var(--header-font-style);
    font-size: calc(var(--common-font-size) * 1.1);
    width: 95%;
    margin: auto;
}
/* Priority Filter (end) - */

/* Add (start) */
div#add-button {
    grid-area: add-buttons-cont;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    justify-items: center;
    align-content: center;
    overflow: hidden;
    height: calc((50px + 1vw) * 2);
    background-color: var(--off-white);
    position: relative;

    background-image: url('./assets/bg-orange.png');
    background-position: bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

button#add {
    width: calc(50px + 1vw);
    height: calc(50px + 1vw);
    border-radius: 50%;
    margin: auto;
    margin-top: calc(var(--common-margin) * 0.5);
    margin-bottom: calc(var(--common-margin) * 1);
    background-color: var(--dark-orange);
    border: 2px solid var(--off-white);
    box-shadow: 0 3px 3px 2px rgba(109, 108, 108, 0.5);
    background-image: url('./assets/add.svg');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
}

button#new-event-front,
button#new-project-front {
    display: none;
}

/* Add (ends) */

/* Todo List Display (start) */
div#todo-display {
    background-color: var(--off-white);
    width: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;
    position: relative;
    height: var(--main-height);
}

div#item-display{
    height: 100%;
    background-color: white;    
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

h3#filter-banner {
    font-size: var(--title-font-size);
    padding: var(--common-padding) calc(var(--common-padding) * 2);
    margin-bottom: var(--common-margin);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 5px;
}

h3#filter-banner span.main-text {
    font-family: var(--header-font-style);
}

h3#filter-banner span.icon {
    width: calc(var(--header-font-size) * 1.3);
    height: calc(var(--header-font-size) * 1.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon.today {
    background-image: url(./assets/today-icon.svg);
}

span.icon.upcoming {
    background-image: url(./assets/upcoming-icon.svg);
}

span.icon.someday {
    background-image: url(./assets/someday-icon.svg);
}

span.icon.overdue {
    background-image: url(./assets/overdue-icon.svg);
}

span.icon.events {
    background-image: url(./assets/events-icon.svg);
}

span.icon.projects {
    background-image: url(./assets/projects-icon.svg);
}

span.icon.high-prio {
    background-image: url(./assets/high-prio.svg);
}

span.icon.mid-prio {
    background-image: url(./assets/mid-prio.svg);
}

span.icon.low-prio {
    background-image: url(./assets/low-prio.svg);
}

div#previews-container {
    display: flex;
    flex-direction: column;
    gap: var(--common-margin);
    height: 100%;
    overflow: auto;
    padding-bottom: 20vh;
}

div.empty-notif {
    width: max-content;
    text-align: center;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
        "empty-icon"
        "empty-msg";
    margin: auto;
    margin-top: 10vh;
}

img.indicator-empty-icon {
    grid-area: empty-icon;
    height: 20vw;
    width: 20vw;
    animation: hop 0.5s ease-in-out 0.1s 1;
    margin: auto;
}

@keyframes hop {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(0);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

div.empty-notif p.empty-msg {
    grid-area: empty-msg;
    font-size: var(--header-font-size);
    font-family: var(--header-font-style);
    color: #99d0f5;
    font-weight: bold;
}


/* Action Btns (start) -- */
div#action-btns {
    width: 100%;
    background-color: rgba(203, 255, 169, 0.5);
    padding: 0 var(--common-padding);
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: max-content;
    gap: var(--common-margin);

    overflow: hidden;
}

button.action-btn {
    min-width: max-content;
    padding: calc(var(--common-padding) * 0.8);
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.action-btn.back {
    width: calc(var(--icon-size) * 1.5);
    background-color: transparent;
    border: 2px solid transparent;
    margin: 5px 0;
    padding: calc(var(--common-padding) * 0.8);
    background-image: url('./assets/back.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: var(--header-font-size);

    display: none;
}


button.action-btn.back[data-action="event-fullview"],
button.action-btn.back[data-action="project-fullview"] {
    display: block;
}
  
button.action-btn.edit,
button.action-btn.delete {    
    width: calc(80px + 0.5vw);
    
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3px;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);

    border-radius: 10px;
    border: 2px solid white;
    background-color: var(--dark-orange);
    transition: transform 0.3s ease-in-out;
}

button.action-btn.edit:hover,
button.action-btn.delete:hover {
    filter: brightness(1.1);
}

button.action-btn.edit:active,
button.action-btn.delete:active {
    transform: scale(0.9);
}


button.action-btn[value="edit-project"],
button.action-btn[value="delete-project"] {
    background-color: var(--darkest-color);
}

button.action-btn span.icon {
    width: var(--header-font-size);
    height: var(--header-font-size);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button.action-btn.back span.icon {
    width: calc(var(--header-font-size) * 1.2);
    height: calc(var(--header-font-size) * 1.2);
    background-image: url('./assets/back.png');
}

button.action-btn.edit span.icon {
    background-image: url('./assets/pencil-white.png');
}

button.action-btn.delete span.icon {
    background-image: url('./assets/trash-white.png');
}

button.action-btn.edit span.text,
button.action-btn.delete span.text {
    font-size: var(--header-font-size);
    color: white;
}
/* Action Btns (end) -- */

/*  Event Preview (start) --*/
div.event-preview {
    display: grid;
    grid-template-columns: calc(10px + 1vw) 1fr max-content;
    grid-template-rows: repeat(3, max-content);
    padding: var(--common-padding);
    border: 1px solid var(--base-blue);
    border-radius: 15px;
    column-gap: var(--common-padding);
    margin: 0 calc(var(--common-margin) * 0.5);
    background-color: var(--off-white);

    grid-template-areas: 
        "marker title sched"
        "indicator proj prio"
        ". desc task";
}

div.event-preview[data-status="done"] {
    background-color: rgb(232, 237, 232);
}

div.event-preview[data-status="overdue"] {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

div.event-preview:hover {
    cursor: pointer;
}
    
div.event-preview[data-status="done"] p.event-title {
    color: #54B435;
}

div.event-preview img.indicator-icon {
    filter: unset;
}

p.event-title {
    grid-area: title;
    font-size: var(--header-font-size);
    font-family: var(--header-font-style);
    color: black;
}

p.event-desc{
    grid-area: desc;
    font-size: calc(var(--header-font-size) * 0.8);
    color: var(--gray);
    margin-top: calc(var(--common-margin) * 0.5);
}

p.event-proj {
    grid-area: proj;
    font-size: calc(var(--header-font-size) * 0.8);
    color: var(--gray);
    align-self: center;
}

p.event-prio {
    grid-area: prio;
    text-align: center;
    font-size: calc(var(--header-font-size) * 0.6);
    padding: 3px;
    border: 1px solid black;
    width: 40%;
    min-width: max-content;
    height: max-content;
    justify-self: end;
    align-self: center;
    border-radius: 3px;
    font-weight: bold;
    filter: opacity(0.8);
    margin-top: 5px;
}

p.event-prio.low {
    color: red;
    border-color: red;
}

p.event-prio.mid{
    color: orange;
    border-color: orange;
}

p.event-prio.high{
    color: green;
    border-color: green;
}

p.event-sched {
    grid-area: sched;
    text-align: right;
    font-size: calc(var(--header-font-size) * 0.7);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: var(--common-padding);
    padding: 0 var(--common-padding);
}

p.event-sched span.sched-icon {
    display: flex;
    width: var(--header-font-size);
    width: calc(12px + 1vw);
    height: calc(12px + 1vw);
    margin: auto;
    background-image: url('./assets/calendar-alert.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

p.event-sched span.sched-icon.overdue {
    background-image: url('./assets/calendar-overdue.png');
}

p.event-sched span.sched-icon.overdue~span {
    color: red;
}

p.event-sched span.sched-icon.today {
    background-image: url('./assets/calendar-today.png');
}

p.event-sched span.sched-icon.far {
    background-image: url('./assets/calendar-far.svg');
}

/* if completed */
p.event-sched span.sched-icon.early{
    background-image: url('./assets/calendar-early.png');
}

p.event-sched span.sched-icon.on-time{
    background-image: url('./assets/calendar-on-time.png');
}

p.event-sched span.sched-icon.late{
    background-image: url('./assets/calendar-late.png');
}

p.event-task-count {
    grid-area: task;
    text-align: right;
    font-size: calc(var(--header-font-size) * 0.7);  
    margin-top: calc(var(--common-margin) * 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

p.event-task-count.done {
    color: #54B435;
}

p.event-title, 
p.event-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.event-title {
    -webkit-line-clamp: 1;
}

/*  Event Preview (end) --*/

/* Event Full view (start) -- */
div.event-fullview {
    padding: calc(var(--common-padding) * 2);
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(9, max-content);
    grid-template-areas: 
        "efv-status efv-title efv-title"
        "efv-desc-label efv-desc-label efv-desc-label"
        "efv-desc efv-desc efv-desc"
        "efv-proj-label efv-proj-label efv-proj-label"
        "efv-proj-link efv-proj-link efv-proj-link"
        "efv-sched-label efv-sched-label efv-sched-label"
        "efv-sched efv-sched efv-prio"
        "efv-tasks efv-tasks efv-tasks"
        "efv-btns efv-btns efv-btns";

    overflow-y: scroll;
    height: 100%;
    padding-bottom: 5vh;
}   

div.event-status {
    grid-area: efv-status;
    width: var(--header-font-size);
    height: var(--header-font-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: start;
    margin:5px 5px 0 0;
}

div.event-fullview[data-status="done"] div.event-status {
    background-image: url('./assets/done.png');
}

div.event-fullview[data-status="pending"] div.event-status {
    background-image: url('./assets/pending-orange.svg');
}


p.fullview.event-title, p.fullview.event-desc {
    display: block; /* removes limiting to 2 lines */
    overflow: unset;
}

p.fullview.event-title {
    grid-area: efv-title;
    font-size: calc(var(--header-font-size) * 1.3);
}

p.fullview.event-desc {
    grid-area: efv-desc;
}

p.fullview.label {
    margin-top: calc(var(--common-margin) * 2);
    margin-bottom: calc(var(--common-margin) * 0.3);
    font-size: calc(var(--header-font-size) * 0.9);
}

p.fullview.event-desc-label {
    grid-area: efv-desc-label;
}

p.fullview.proj-label {
    grid-area: efv-proj-label;
}

a.event-proj.fullview {
    grid-area: efv-proj-link;
    color: var(--dark-orange);
    font-size: calc(var(--header-font-size) * 0.8);
    width: max-content;
}

a.proj-link.fullview:hover {
    color: var(--base-orange);
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

p.fullview.sched-label {
    grid-area: efv-sched-label;
}

p.fullview.event-sched {
    grid-area: efv-sched;
    font-size: calc(var(--header-font-size) * 1.2);
    padding-left: 0;
}

p.fullview.event-sched span.sched-date {
    font-family: var(--header-font-style);
}

p.fullview.event-sched span.sched-icon {
    width: calc(var(--header-font-size) * 1.3);
    height: 100%;
    margin: unset;
}

p.fullview.event-prio {
    grid-area: efv-prio;
    font-size: calc(var(--header-font-size) * 0.8);
    margin: 0;
    width: calc(100px + 1vw);
    min-width: max-content;
}

div.fullview.tasks-list {
    grid-area: efv-tasks;
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 0.5);
    border: 2px solid var(--base-orange);
    border-radius: 10px;
    margin-top: calc(var(--common-margin) * 2);
    padding-bottom: calc(var(--common-margin) * 0.5);
}

div.task-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--base-orange);
    padding: var(--common-padding);
    border-radius: 7.5px 7.5px 0 0;
}

div.task-header p.task-label {
    font-size: var(--header-font-size);
    font-family: var(--header-font-style);
}

div.task-header p.event-task-count {
    grid-area: unset;
    font-size: calc(var(--header-font-size) * 0.8);
    justify-self: end;
    margin: 0;
    background-color: white;
    padding: calc(var(--common-padding) * 0.8);
    border-radius: 10px;
}

div.fullview.tasks-list div.task {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    padding-bottom: var(--common-padding);
    border-bottom: 1px solid var(--base-orange);
}

div.fullview.tasks-list div.task:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}


button.check {
    width: calc(15px + 0.5vw);
    height: calc(15px + 0.5vw);
    border: none;
    background-color: transparent;
    margin-left: calc(var(--common-margin)*0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: start;
}

button.check[value="pending"] {
    background-image: url('./assets/box-blank.png');
}

button.check[value="done"] {
    background-image: url('./assets/box-check.png');
}

button.check[value="done"]~p.task {
    color: #54B435;
}

div.fullview.tasks-list p.task {
    font-size: calc(var(--header-font-size) * 0.85);
}

div.event-action {
    grid-area: efv-btns;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: calc(var(--common-margin) * 3);
}

button[value="complete-event"] {
    font-size: calc(var(--common-font-size) * 1.2);
    padding: var(--common-padding);
    border-radius: 10px;
    border: 2px solid white;
    background-color: green;
    color: white;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
    justify-self: center;
}

div.event-action p.message {
    font-family: var(--header-font-style);
    font-size: calc(var(--header-font-size) * 1);
    text-align: center;
    margin-top: var(--common-margin);
}

div.event-fullview[data-status="done"] p.message {
    color: #54B435;
}

/* Completion and delete prompt modal (start) --- */
dialog#complete-event-prompt,
dialog#delete-event-prompt,
dialog#delete-project-prompt {
    width: 95vw;
    max-width: 700px;
    margin: auto;
    border: 1px solid var(--base-orange);
    border-radius: 10px;
    
}

dialog#complete-event-prompt div.modal-cont,
dialog#delete-event-prompt div.modal-cont,
dialog#delete-project-prompt div.modal-cont {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "header btn"
        "content content" ;
}

dialog#complete-event-prompt button.close-modal,
dialog#delete-event-prompt button.close-modal,
dialog#delete-project-prompt button.close-modal {
    grid-area: btn;
}

p.modal-banner {
    grid-area: header;
    font-family: var(--header-font-style);
    font-size: calc(var(--header-font-size) * 1.3);
    color: white;
    align-self: center;
    justify-self: center;
    text-align: center;
}

div.completion-content,
div.delete-content {
    grid-area: content;
    padding: var(--common-padding);
    margin-top: var(--common-margin);
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 0 4px 3px 2px rgba(62, 62, 62, 0.3);

    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 2);
}

p.reminder {
    font-size: calc(var(--header-font-size) * 1);
    text-align: center;
    margin: var(--common-margin) 0;
}

div.completion-content div.save-cont,
div.delete-content div.save-cont {
    margin: var(--common-margin) 0;
}
/* Completion prompt modal (end) --- */

/* Edit modal (start)  --- */
dialog#edit-event-prompt,
dialog#edit-project-prompt {
    width: 95vw;
    max-width: 700px;
    height: 90vh;
    margin: auto;
    border: 1px solid var(--base-orange);
    border-radius: 10px;
    overflow: hidden;
}

dialog#edit-event-prompt div.modal-cont,
dialog#edit-project-prompt div.modal-cont {
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "banner exit-btn"
        "form form";
}

dialog#edit-event-prompt p.modal-banner,
dialog#edit-project-prompt p.modal-banner {
    grid-area: banner;
}

dialog#edit-event-prompt  button.close-modal,
dialog#edit-project-prompt  button.close-modal{
    grid-area: exit-btn;
}

dialog#edit-event-prompt  form#event-form,
dialog#edit-project-prompt  form#project-form{
    grid-area: form;
}
/* Edit modal (end)  --- */
/* Event Full view (end) -- */

/*  Project Preview (start) --*/
div.project-preview {
    display: grid;
    grid-template-columns: calc(10px + 1vw) 1fr max-content;
    grid-template-rows: repeat(3, max-content);
    padding: var(--common-padding);
    border: 2px solid var(--base-yellow);
    box-shadow: 
        0 0 1px 2px rgba(33, 42, 62, 0.2);
    column-gap: var(--common-padding);
    margin: 0 calc(var(--common-margin) * 0.5);
    background-color: var(--dark-orange);

    grid-template-areas: 
        "marker title deadline"
        "indicator desc prio"
        ". . event";

    transition: filter 0.1s ease-in-out;
}
 
div.project-preview[data-status="done"] {
    background-color: var(--darkest-color);
    border-color: #54B435;
}

div.project-preview[data-status="overdue"] {
    background-color: rgb(242, 41, 41);
}
    
div.project-preview:hover {
    cursor: pointer;
    filter: brightness(1.1);
}
    
img.marker {
    grid-area: marker;
    width: 100%;
    height: 100%;
}

img.indicator-icon {
    grid-area: indicator;
    width: 100%;
    height: 100%;
    filter: brightness(150%);
}

div.project-preview[data-status="done"] p.project-title {
    color: #54B435;
}

p.project-title, p.project-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.project-title {
    grid-area: title;
    font-size: var(--header-font-size);
    font-family: var(--header-font-style);
    color: white;

    -webkit-line-clamp: 1;}

p.project-desc{
    grid-area: desc;
    font-size: calc(var(--header-font-size) * 0.8);
    color: var(--base-yellow);
    align-self: center;
}

p.project-prio {
    grid-area: prio;
    text-align: center;
    font-size: calc(var(--header-font-size) * 0.6);
    padding: 3px;
    border: 2px solid black;
    box-shadow: 0 0 2px 1px var(--base-yellow);
    width: 40%;
    min-width: max-content;
    height: max-content;
    justify-self: end;
    align-self: center;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 5px;
    background-color: var(--off-white);
}

p.project-prio.low {
    color: red;
    border-color: red;
}

p.project-prio.mid{
    color: orange;
    border-color: orange;
}

p.project-prio.high{
    color: green;
    border-color: green;
}

p.project-deadline {
    grid-area: deadline;
    text-align: right;
    font-size: calc(var(--header-font-size) * 0.7);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: var(--common-padding);
    padding: 0 var(--common-padding);
    color: black;
    background-color: var(--base-yellow);
    border-radius: 5px;
    border: 1px solid white;
}

p.project-deadline span.deadline-icon {
    display: flex;
    width: calc(12px + 1vw);
    height: calc(12px + 1vw);
    margin: auto;
    background-image: url('./assets/calendar-alert.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.project-deadline span.deadline-icon.overdue {
    background-image: url('./assets/calendar-overdue.png');
}

p.project-deadline span.deadline-icon.overdue~span {
    color: red;
}

p.project-deadline span.deadline-icon.today {
    background-image: url('./assets/calendar-today.png');
}

p.project-deadline span.deadline-icon.far {
    background-image: url('./assets/calendar-far.svg');
}

/* if completed */
p.project-deadline span.deadline-icon.early{
    background-image: url('./assets/calendar-early.png');
}

p.project-deadline span.deadline-icon.on-time{
    background-image: url('./assets/calendar-on-time.png');
}

p.project-deadline span.deadline-icon.late{
    background-image: url('./assets/calendar-late.png');
}

p.project-event-count {
    grid-area: event;
    text-align: right;
    font-size: calc(var(--header-font-size) * 0.7);  
    margin-top: calc(var(--common-margin) * 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    color: white;
}

p.project-event-count.done {
    color: #93f074;  
}

div.project-preview[data-status="done"] p.project-event-count.done {
    color: #54B435;
}

/*  Project Preview (end) --*/
/* Todo List Display (end) */

/* Add Prompt Modal (start) */
dialog#add-prompt {
    width: 95vw;
    max-width: 700px;
    height: 90vh;
    margin: auto;
    border: 1px solid var(--base-orange);
    border-radius: 10px;
}

dialog {
    box-shadow: 0 0 10px 5px rgba(255, 115, 29, 0.5);
}

dialog::backdrop {
    background-color: rgba(62, 62, 62, 0.9);
}

div.modal-cont {
    width: 100%;
    height: 100%;
    padding: var(--common-padding);
    padding-bottom: calc(var(--common-padding) * 2);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    background-color: var(--base-orange);
}

button.close-modal {
    border-radius: 50%;
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-right: 0;
    margin-bottom: var(--common-margin);

    border: 2px solid white;
    background-color: var(--dark-orange);
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);

    background-image: url('./assets/close.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

div#add-options button[data-selected="selected"] {
    border: 2px solid var(--dark-orange);
    box-shadow: 0 7px 5px 2px rgba(62, 62, 62, 0.3);
    color: var(--dark-orange);
    background-color: white;
    transform: translateY(-5px) scale(1.1);
    transition: all 0.2s ease-in-out;
}

div#add-options button span.add-icon {
    width: var(--header-font-size);
    height: var(--header-font-size);
    margin: auto;
    background-image: url('./assets/add.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

div#add-options button[data-selected="selected"] span.add-icon {
    background-image: url('./assets/add-selected.svg');
}

div#add-options {
    display: flex;
    gap: calc(var(--common-margin) * 2);
    padding: var(--common-padding);
}

div#add-options button {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    
    padding: 
        calc(var(--common-padding) * 0.5)
        var(--common-padding);
    border-radius: 5px;
    border: 2px solid white;
    background-color: var(--dark-orange);
    color: white;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
}

div#add-options button span.add-label {
    font-family: var(--header-font-style);
    font-size: var(--header-font-size);
}

/* form (start) */
div.modal-cont form {
    display: flex;
    flex-direction: column;
    margin-top: var(--common-margin);
    border: 1px solid black;
    padding: var(--common-padding);
    gap: var(--common-margin);
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;

    border: none;
    box-shadow: 0 4px 3px 2px rgba(62, 62, 62, 0.3);
}

div.comp-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 0.5);
    margin-bottom: var(--common-margin);
    padding: calc(var(--common-padding) * 0.5);
}

div.comp-container input,
div.comp-container textarea,
div.comp-container select {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    margin: auto;
    text-align: left;
    padding: calc(var(--common-padding) * 0.5);
    font-size: var(--common-font-size);
}

div.comp-container input.error,
div.comp-container textarea.error,
div.comp-container select.error {
    border: 1px solid red;
    box-shadow: 0 0 1px 2px rgba(255, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.1);
}

div.comp-container label {
    font-size: var(--common-font-size);
}

/* Priority (start) */
div#prio-btns-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-style: none;
    padding-top: calc(var(--common-padding) * 3);
    gap: var(--common-margin);
}

div.comp-container p {
    font-size: var(--common-font-size);
}

button.prio-btn {
    padding: var(--common-padding);
    text-align: center;
    border-radius: 5px;
    width: 100%;

    background-color: white;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);

    font-size: var(--common-font-size);
    font-weight: bold;
}

button[data-id="high"] {
    border: 2px solid green; 
    color: green;
}

button[data-id="mid"] {
    border: 2px solid orange; 
    color: orange;
}

button[data-id="low"] {
    border: 2px solid red; 
    color: red;
}

button[data-selected="selected"] {
    border: 2px solid white;
    color: white;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 7px 5px 2px rgba(62, 62, 62, 0.3);
    transition: all 0.2s ease-in-out;
}

button[data-selected="selected"][data-id="high"] {
    background-color: green;
}

button[data-selected="selected"][data-id="mid"] {
    background-color: orange;
}

button[data-selected="selected"][data-id="low"] {
    background-color: red;
}

/* Tasks (start) */
p#task-label {
    font-size: var(--common-font-size);
}

div.adder-comp {
    display: grid;
    grid-template-columns: 1fr max-content;
    height: max-content;
}

button.adder-btn {
    width: calc(30px + 0.5vw);
    height: calc(30px + 0.5vw);
    border: none;
    background-color: var(--dark-orange);
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
}

button.adder-btn:active {
    transform: scale(0.9);
}

button.adder-btn svg {
    fill: white;
}
/* Save Buttons Container (start) */

div.save-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(var(--common-margin) * 2);
}

button.clear,
button.save {
    width: 20vw;
    min-width: max-content;
    font-size: calc(var(--header-font-size) * 1.3);
    font-family: var(--header-font-style);
    padding: calc(var(--common-padding) * 0.5);
    border: 2px solid var(--off-white);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
}

button.save{
    color: white;
    border-color: white;
    background-color: green;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
}

/* New task (start) */
div#tasks-container{
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 0.8);
}

div#tasks-container input.new-task {
    border: none;
    border-bottom: 1px solid var(--darkest-color);
    background-color: white;
    justify-self: start;
    width: 100%;
    max-width: 100%;
}

div#tasks-container input.new-task:disabled {
    border: none;
}

div.new-task {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
}

div.new-task button {
    width: calc(15px + 0.5vw);
    height: calc(15px + 0.5vw);
    margin-left: var(--common-margin);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    border: none;
    background-color: transparent;
}

div.new-task button.list-mark[data-status="new"] {
    background-image: url('./assets/box-badge.png');
}

div.new-task button.list-mark[data-status="pending"] {
    background-image: url('./assets/box-blank.png');
}

div.new-task button.list-mark[data-status="done"] {
    background-image: url('./assets/box-check.png');
}

div.new-task button.edit-task {
    background-image: url('./assets/pencil.png');
}

div.new-task button.edit-task.wait-save {
    background-image: url('./assets/save.png');
}

div.new-task button.delete-task {
    background-image: url('./assets/trash.png');
}

div.new-task button:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(0.8);
}

div.new-task button svg {
    fill: var(--base-orange);
}

div.new-task button:hover svg {
    fill: var(--dark-orange);
    transform: scale(1.1);
}
/* New task (end) */

/* New event to project (start) */
div#events-link-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 0.8);
}

div.event-link-project {
    display: grid;
    grid-template-columns: 1fr max-content;
}

button.unlink-event {
    width: calc(25px + 1vw);
    height: calc(25px + 1vw);
    border: 1px solid var(--base-blue);
    border-left: unset;
    border-radius: 0 10px 10px 0;
    background-color: transparent;

    background-image: url('./assets/close-orange.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

div.event-preview.event-project {
    border-radius: 10px 0 10px 10px;
    margin-right: 0;
    padding-right: calc(var(--common-padding) * 2);
}
/* New event to project (end) */

/* New individual todo form modal (start)  --- */
dialog#add-prompt.individual {
    width: 95vw;
    max-width: 700px;
    height: 90vh;
    margin: auto;
    border: 1px solid var(--base-orange);
    border-radius: 10px;
    overflow: hidden;
}

dialog#add-prompt.individual div.modal-cont {
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "banner exit-btn"
        "form form";
}

dialog#add-prompt.individual p.modal-banner {
    grid-area: banner;
}

dialog#add-prompt.individual button.close-modal {
    grid-area: exit-btn;
}

dialog#add-prompt.individual form#event-form,
dialog#add-prompt.individual form#project-form {
    grid-area: form;
}

/* New individual todo form modal (end) */

/* MAIN (end) */

/* Project Full view (start) -- */
div.project-fullview {
    padding: calc(var(--common-padding) * 2);
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(7, max-content);
    grid-template-areas: 
        "pfv-status pfv-title pfv-title"
        "pfv-desc-label pfv-desc-label pfv-desc-label"
        "pfv-desc pfv-desc pfv-desc"
        "pfv-deadline-label pfv-deadline-label pfv-deadline-label"
        "pfv-deadline pfv-deadline pfv-prio"
        "pfv-events pfv-events pfv-events"
        "pfv-btns pfv-btns pfv-btns";

    background-color: #f5d5c1;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 5vh;
}   

div.project-fullview[data-status="done"] {
    background-color: var(--darkest-color);
}

div.project-fullview[data-status="done"] p.fullview.project-title {
    color: #54B435;
}

div.project-fullview[data-status="done"] p.label {
    color: white;
}

div.project-fullview[data-status="done"] p.fullview.project-desc,
div.project-fullview[data-status="done"] p.fullview.project-deadline span.deadline-date {
    color: var(--base-yellow);
}

div.project-status {
    grid-area: pfv-status;
    width: var(--header-font-size);
    height: var(--header-font-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: start;
    margin:5px 5px 0 0;
}

div.project-fullview[data-status="done"] div.project-status {
    background-image: url('./assets/done.png');
}

div.project-fullview[data-status="pending"] div.project-status {
    background-image: url('./assets/pending-orange.svg');
}

p.fullview.project-title, p.fullview.project-desc {
    display: block; /* removes limiting to 2 lines */
    overflow: unset;
}

p.fullview.project-title {
    grid-area: pfv-title;
    color: black;
    font-size: calc(var(--header-font-size) * 1.3);
}

p.fullview.label {
    margin-top: calc(var(--common-margin) * 2);
    margin-bottom: calc(var(--common-margin) * 0.3);
    font-size: calc(var(--header-font-size) * 0.9);
}

p.fullview.desc-label {
    grid-area: pfv-desc-label;
}

p.fullview.project-desc {
    grid-area: pfv-desc;
    color: var(--gray);
}

p.fullview.deadline-label {
    grid-area: pfv-deadline-label
}

p.fullview.project-deadline {
    grid-area: pfv-deadline;
    font-size: calc(var(--header-font-size) * 1.2);
    padding: 0;
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: max-content 1fr;
}

p.fullview.project-deadline span.deadline-date {
    color: black;
    font-family: var(--header-font-style);
}

p.fullview.project-deadline span.deadline-icon {
    width: calc(var(--header-font-size) * 1.3);
    height: calc(var(--header-font-size) * 1.3);
    margin: unset;
}

p.fullview.project-prio {
    grid-area: pfv-prio;
    font-size: calc(var(--header-font-size) * 0.8);
    margin: 0;
    width: calc(100px + 1vw);
    min-width: max-content;
}

div.fullview.events-list {
    grid-area: pfv-events;
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 0.5);
    padding-bottom: calc(var(--common-margin) * 0.5); ;
    border: 2px solid var(--base-orange);
    border-radius: 10px;
    margin-top: calc(var(--common-margin) * 2);
    background-color: white;
}

div.event-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--base-orange);
    padding: var(--common-padding);
    border-radius: 7.5px 7.5px 0 0;
}

div.event-header p.event-label {
    font-size: var(--header-font-size);
    font-family: var(--header-font-style);
}

div.event-header p.project-event-count {
    grid-area: unset;
    font-size: calc(var(--header-font-size) * 0.8);
    justify-self: end;
    margin: 0;
    background-color: white;
    padding: calc(var(--common-padding) * 0.8);
    border-radius: 10px;
    color: black;
}

div.event-header p.project-event-count.done {
    color: #54B435;
}

div.fullview.events-list div.event {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
    padding-bottom: var(--common-padding);
    border-bottom: 1px solid var(--base-orange);
}

button.check {
    width: calc(15px + 0.5vw);
    height: calc(15px + 0.5vw);
    border: none;
    background-color: transparent;
    margin-left: calc(var(--common-margin)*0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: start;
}

div.project-action {
    grid-area: pfv-btns;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: calc(var(--common-margin) * 3);
}

button[value="complete-project"] {
    font-size: calc(var(--common-font-size) * 1.2);
    padding: var(--common-padding);
    border: 2px solid white;
    background-color: green;
    color: white;
    box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);
    justify-self: center;
}

button[value="complete-project"]:disabled {
    filter: opacity(0.5);
    cursor: unset;
}

div.project-action p.message {
    font-family: var(--header-font-style);
    font-size: calc(var(--header-font-size) * 1);
    text-align: center;
    margin-top: var(--common-margin);
    color: #54B435;
}

/* Completion and delete prompt modal (start) --- */
dialog#complete-event-prompt,
dialog#complete-project-prompt,
dialog#delete-event-prompt,
dialog#delete-project-prompt {
    width: 95vw;
    /* height: 50vh; */
    margin: auto;
    border: 1px solid var(--base-orange);
    border-radius: 10px;
}

dialog#complete-event-prompt div.modal-cont,
dialog#complete-project-prompt div.modal-cont,
dialog#delete-event-prompt div.modal-cont,
dialog#delete-project-prompt div.modal-cont {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "header btn"
        "content content" ;
}

dialog#complete-event-prompt button.close-modal,
dialog#complete-project-prompt button.close-modal,
dialog#delete-event-prompt button.close-modal,
dialog#delete-project-prompt button.close-modal {
    grid-area: btn;
}

p.modal-banner {
    grid-area: header;
    font-family: var(--header-font-style);
    font-size: calc(var(--header-font-size) * 1.3);
    color: white;
    align-self: center;
    justify-self: center;
    text-align: center;
}

div.completion-content,
div.delete-content {
    grid-area: content;
    padding: var(--common-padding);
    margin-top: var(--common-margin);
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 0 4px 3px 2px rgba(62, 62, 62, 0.3);

    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 2);
}

p.reminder {
    font-size: calc(var(--header-font-size) * 1);
    text-align: center;
    margin: var(--common-margin) 0;
}

div.completion-content div.save-cont,
div.delete-content div.save-cont {
    margin: var(--common-margin) 0;
}
/* Completion prompt modal (end) --- */

/* Modal checkbox (start) --- */
div.checkbox-cont {
    border: 1px solid white;
    padding: var(--common-padding);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    background-color: #f5e2d6;
}

div.checkbox-input input:checked~label {
    color: var(--dark-orange);
}

fieldset.events-checkbox label {
    color: var(--gray);
}

fieldset.events-checkbox {
    font-size: var(--common-font-size);
    margin: 0 var(--common-margin);
    border: none;
}

fieldset.events-checkbox legend {
    text-align: center;
    margin: 0 0 var(--common-margin);
    padding: 0 var(--common-padding);
}

fieldset.events-checkbox div {
    margin: 0 var(--common-margin) calc(var(--common-margin) * 0.5);
}

fieldset.events-checkbox div.checkbox-input {
    display: grid;
    grid-template-columns: max-content 1fr;
    min-width: 165px;
    width: calc(80% + 1vw);
    margin: 0 auto calc(var(--common-margin) * 0.5);
    gap: 5px;
    align-items: start;
}

div.checkbox-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray);
    background-color: var(--off-white);
    border-radius: 3px;
    width: calc(var(--common-font-size) * 1.1);
    height: calc(var(--common-font-size) * 1.1);
    outline: none;
    cursor: pointer;
}

div.checkbox-input input:checked {
    background-color: var(--dark-orange);
    background-image: url("assets/check.svg");
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    border-color: white;
}
/* Modal checkbox (end) --- */

/* Project Full view (end) -- */

/* Media queries */
@media (hover:hover) {
    
    div.category:hover {
        cursor: pointer;
        background-color: rgba(255, 222, 222, 0.5);
    }

    div.category.selected {
        background-color: var(--base-pink);
    }

    button#add {
        transition: all 0.2s ease-in-out;
    }
    button#add:hover {
            filter: brightness(1.1);
            transform: translateY(-5px);
            box-shadow: 0 5px 3px 2px rgba(109, 108, 108, 0.5);
    }

}

@media (hover: none) {
    button.action-btn.back {
        display: block;
    }
}

/* Galaxy fold */
@media only screen and (max-width: 375px) and (min-height: 500px) {

    :root {
        --title-font-size: calc(1.1rem + 1vw);
        --header-font-size: calc(0.7rem + 1vw);
        --common-font-size: calc(0.6rem + 1vw);
    }

    p.fullview.project-deadline,
    p.fullview.event-sched {
        font-size: var(--header-font-size);
    }

    p.fullview.project-prio,
    p.fullview.event-prio {
        width: calc(50px + 1vw);
    }
}

@media only screen and (min-width: 768px) {
    div#sidebar {
        position: relative;
    }

    div#sidebar.hidden {
        transform: translateX(0);
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "sidebar display";
    }

    div#sidebar {
        grid-area: sidebar;

        grid-template-rows: max-content max-content max-content 1fr;
        grid-template-areas:
            "user-details"
            "add-buttons-cont"
            "main-categories"
            "priority-categories"
    }

    /* Change add button layout (start) - */
    div#add-button {
        background-image: none;
        height: max-content;
        margin: var(--common-margin) 0;
        padding: calc(var(--common-padding) * 2);
        border: 1px solid var(--base-pink);
        gap: var(--common-margin);
        background-color: #f5e2d6;
    }

    button#new-event-front, 
    button#new-project-front {
        display: grid;

        padding: calc(var(--common-padding) * 0.5) var(--common-padding);
        border-radius: 10px;
        border: 2px solid white;
        background-color: var(--dark-orange);
        color: white;
        box-shadow: 0 2px 2px 1px rgba(62, 62, 62, 0.3);

        width: 80%;
        min-width: max-content;
        justify-self: start;
        grid-template-columns: max-content 1fr;
        align-items: center;
        transition: transform 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
    }

    button#new-event-front:hover, 
    button#new-project-front:hover {
        background-color: white;
        border: 2px solid var(--dark-orange);
        color: var(--dark-orange);
        transform: translateX(3px);
        box-shadow: -3px 2px 2px 1px rgba(62, 62, 62, 0.3);
    }

    button#new-event-front:hover span.add-icon, 
    button#new-project-front:hover span.add-icon {
        background-image: url('./assets/add-selected.svg');
    }

    button#new-event-front span.add-icon,
    button#new-project-front span.add-icon {
        width: var(--header-font-size);
        height: var(--header-font-size);
        margin: auto;
        background-image: url('./assets/add.svg');
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }

    button#new-event-front span.add-label,
    button#new-project-front span.add-label {
        font-family: var(--header-font-style);
        font-size: calc(var(--common-font-size) * 1.1);
        text-align: left;
    }

    button#add {
        display: none;
    }
    /* Change add button layout (end) - */
    
    div#todo-display {
        grid-area: display;
    }

    dialog#add-prompt,
    dialog#edit-event-prompt,
    dialog#edit-project-prompt,
    dialog#complete-event-prompt, 
    dialog#complete-project-prompt, 
    dialog#delete-event-prompt, 
    dialog#delete-project-prompt {
        width: 65%;
    }

    
}